<% was_validated = park.errors.any? %>

<%= form_with(model: park, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for park_name start -->
  <div class="form-group">
    <% park_name_class = "form-control" %>
    <% park_name_was_invalid = park.errors.include?(:park_name) %>

    <% if was_validated %>
      <% if park_name_was_invalid %>
        <% park_name_class << " is-invalid" %>
      <% else %>
        <% park_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :park_name %>
    <!-- Input for park_name start -->
    <%= f.number_field :park_name, class: park_name_class, placeholder: "Enter park name" %>
    <!-- Input for park_name end -->
    <% if park_name_was_invalid %>
      <% park.errors.full_messages_for(:park_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for park_name end -->
  <!-- Label and input for park_address start -->
  <div class="form-group">
    <% park_address_class = "form-control" %>
    <% park_address_was_invalid = park.errors.include?(:park_address) %>

    <% if was_validated %>
      <% if park_address_was_invalid %>
        <% park_address_class << " is-invalid" %>
      <% else %>
        <% park_address_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :park_address %>
    <!-- Input for park_address start -->
    <%= f.text_field :park_address, class: park_address_class, placeholder: "Enter park address" %>
    <!-- Input for park_address end -->
    <% if park_address_was_invalid %>
      <% park.errors.full_messages_for(:park_address).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for park_address end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
