<div class="card mb-3">
  <h2 class="card-header h4">
    Student #<%= student.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <!-- Display user_id start -->
      <dd>
        <% if @student.user.present? %>
          <%= link_to student.user, student.user %>
        <% end %>
      </dd>
      <!-- Display user_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back student, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link student start -->
      <div class="col">
        <% if current_user == @student.user %>
          <%= link_to edit_student_url(student), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Edit link student end -->

      <!-- Delete link student start -->
      <div class="col">
        <% if current_user == @student.user %>
          <%= link_to student, method: :delete, data: { confirm: "Do you really want to delete this student?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Delete link student end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(student.updated_at) %> ago
  </div>
</div>
