<!-- Form attendee start -->
<%= form_with(model: @attendee, local: true) do |f| %>
<!-- Form attendee end -->

  <!-- Label and input for event_id start -->
  <div class="form-group">
    <%= f.label :event_id %>

    <!-- Input for event_id start -->
    <%= f.collection_select :event_id, Event.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for event_id end -->
  </div>
  <!-- Label and input for event_id end -->

  <!-- Label and input for student_id start -->
  <!-- Input for student_id start -->
  <%= f.hidden_field :student_id, value: @student.id %>
  <!-- Input for student_id end -->
  <!-- Label and input for student_id end -->

  <%= f.submit "Create attendee", class: "btn btn-block btn-outline-secondary" %>
<% end %>
