<div class="card mb-3">
  <h2 class="card-header h4">
    Event #<%= event.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Event name</dt>
      <dd><%= event.event_name %></dd>

      <dt>Teacher</dt>
      <dd>
        <% if @event.teacher.present? %>
          <%= link_to event.teacher, event.teacher %>
        <% end %>
      </dd>

      <dt>Date</dt>
      <dd><%= event.date %></dd>

      <dt>Start time</dt>
      <dd><%= event.start_time %></dd>

      <dt>Duration</dt>
      <dd><%= event.duration %></dd>

      <dt>End time</dt>
      <dd><%= event.end_time %></dd>

      <dt>Park</dt>
      <dd>
        <% if @event.park.present? %>
          <%= link_to event.park, event.park %>
        <% end %>
      </dd>

      <dt>Category</dt>
      <dd>
        <% if @event.category.present? %>
          <%= link_to event.category, event.category %>
        <% end %>
      </dd>

      <dt>Event description</dt>
      <dd><%= event.event_description %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back event, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_event_url(event), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to event, method: :delete, data: { confirm: "Do you really want to delete this event?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(event.updated_at) %> ago
  </div>
</div>
