<!-- Form attendee start -->
<%= form_with(model: @attendee, local: true) do |f| %>
<!-- Form attendee end -->

  <!-- Label and input for event_id start -->
  <!-- Input for event_id start -->
  <%= f.hidden_field :event_id, value: @event.id %>
  <!-- Input for event_id end -->
  <!-- Label and input for event_id end -->

  <!-- Label and input for student_id start -->
  <div class="form-group">
    <%= f.label :student_id %>

    <!-- Input for student_id start -->
    <%= f.text_field :student_id, class: "form-control" %>
    <!-- Input for student_id end -->
  </div>
  <!-- Label and input for student_id end -->

  <%= f.submit "Create attendee", class: "btn btn-block btn-outline-secondary" %>
<% end %>
