<%= form_with(model: @attendee, local: true) do |f| %>

  <%= f.hidden_field :event_id, value: @event.id %>

  <div class="form-group">
    <%= f.label :student_id %>

    <%= f.collection_select :student_id, Student.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create attendee", class: "btn btn-block btn-outline-secondary" %>
<% end %>
