<% was_validated = review.errors.any? %>

<%= form_with(model: review, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% star_rating_class = "form-control" %>
    <% star_rating_was_invalid = review.errors.include?(:star_rating) %>

    <% if was_validated %>
      <% if star_rating_was_invalid %>
        <% star_rating_class << " is-invalid" %>
      <% else %>
        <% star_rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :star_rating %>
    <%= f.text_field :star_rating, class: star_rating_class, placeholder: "Enter star rating" %>
    <% if star_rating_was_invalid %>
      <% review.errors.full_messages_for(:star_rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% review_text_class = "form-control" %>
    <% review_text_was_invalid = review.errors.include?(:review_text) %>

    <% if was_validated %>
      <% if review_text_was_invalid %>
        <% review_text_class << " is-invalid" %>
      <% else %>
        <% review_text_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :review_text %>
    <%= f.text_area :review_text, class: review_text_class, placeholder: "Enter review text" %>
    <% if review_text_was_invalid %>
      <% review.errors.full_messages_for(:review_text).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% teacher_class = "form-control" %>
    <% teacher_was_invalid = review.errors.include?(:teacher) %>

    <% if was_validated %>
      <% if teacher_was_invalid %>
        <% teacher_class << " is-invalid" %>
      <% else %>
        <% teacher_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :teacher_id %>
    <%= f.collection_select :teacher_id, Teacher.all, :id, :to_s, {}, class: "form-control" %>
    <% if teacher_was_invalid %>
      <% review.errors.full_messages_for(:teacher).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% student_class = "form-control" %>
    <% student_was_invalid = review.errors.include?(:student) %>

    <% if was_validated %>
      <% if student_was_invalid %>
        <% student_class << " is-invalid" %>
      <% else %>
        <% student_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :student_id %>
    <%= f.collection_select :student_id, Student.all, :id, :to_s, {}, class: "form-control" %>
    <% if student_was_invalid %>
      <% review.errors.full_messages_for(:student).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
